@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome to your Diary!</h1>
        @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
        @if (User.Identity.IsAuthenticated)
        {
            
            <p>You are logged in as <a href="/Identity/Account/Manage">@Html.Label("Name", User.Identity.Name)</a>.</p>
        }
        else
        {
            <p><a href="/Identity/Account/Register"> Register </a> a new account.</p>
            <p> <a href="/Identity/Account/Login">LogIn </a> to an existing account.</p>
        }
    </div>

